<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CineSubz</title>
    <link rel="stylesheet" href="/css/error.css">
</head>
<body>
    <div class="container">
        <h1>Error</h1>
         <h4>මෙමෙ ගැටලුව අපට වාර්තා කිරීමට මෙහි ScreenShot එකක් ගෙන පහත බටන් එක ක්ලික් කර  ටෙලිග්‍රෑම් ඔස්සේඅපට එවන්න.</h4>
        <p><%= error %></p>
        <a href="https://t.me/CineSubzAdmin" class="btn">Contact Admin</a>
    </div>
</body>
</html>
