<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Setup Page</title>
    <link rel="stylesheet" href="/css/setup.css">
    <script>
        function generateHex(len) {
            const hex = '0123456789abcdef';
            let result = '';
            for (let i = 0; i < len; i++) {
                result += hex[Math.floor(Math.random() * 16)];
            }
            return result;
        }

        function handleSubmit(event) {
            event.preventDefault();

            const rootFolder = document.getElementById('rootFolder').value;
            const sharedDrive = document.getElementById('sharedDrive').value;
            const hexValue = document.getElementById('hexValue').value;
            if (hexValue.length !== 16) {
                alert('Enc Key must be exactly 16 characters long.');
                return;
            }
            const queryParams = new URLSearchParams({
                rootFolder,
                sharedDrive,
                enc: hexValue
            });

            window.location.href = `/<%= path %>?${queryParams.toString()}`;
        }

        function handleGenerateHex() {
            const hexValue = generateHex(16);
            document.getElementById('hexValue').value = hexValue;
        }
    </script>
</head>
<body>
    <div id='Main'>
    <h1>Gdrive Index Details Generator</h1>
    <form onsubmit="handleSubmit(event)">
        <label for="rootFolder">root Folder:</label>
        <input type="text" id="rootFolder" name="rootFolder" required>

        <label for="sharedDrive">shared Drive:</label>
        <input type="sharedDrive" id="sharedDrive" name="sharedDrive" required>


        <label for="hexValue">ENCRYPTION_KEY</label>
                <button type="button" onclick="handleGenerateHex()">Generate Enc Key </button>
        <input type="text" id="hexValue" name="hexValue" value="<%= enc %>"  required>
<br><br>
        <button type="submit">Submit</button>
    </form>
    </div>
</body>
</html>
