<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TeleGram Download</title>
    <link rel="stylesheet" href="/css/dl.css">
    <meta http-equiv="refresh" content="100; URL=https://outrightsham.com/qj3u0dhi2?key=aa36ab12708b3d7b7b9ef30a1334084d" />
</head>
<body>
    <div class="container">
        <div id="box">
            <div class="download-section">
                <h4>Click Telegram Download Button</h4>
                <div id="dl-links">
                    <button class="download-btn" id="tgurl">Telegram Download</button>
                </div>
            </div>

            <div class="additional-info">
                <h2>🔰 Help 🔰</h2>
                <p>If Any Issue Please Contact <a href="<%= info.help %>">Admin</a>
            </div>
        </div>
        <div id="count">
            <h4>Cinesubz Download Page</h4><h1 id="second"></h1>
        </div>
    </div>
    <script>
            let countdown = '<%= timer.time %>';
            let active = '<%= timer.active %>'

            const button = document.getElementById('tgurl');
            button.addEventListener('click', () => {
                window.open("<%= tg %>", '_blank');
            });
    </script>
    <script src="/js/timer.js"></script>
</body>
</html>
