body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

#Main {
    margin: 20px;
}
h1 {
    color: #bb86fc;
}

form {
    margin-top: 20px;
}

label, input {
    display: block;
    margin: 10px 0;
}

input {
    padding: 8px;
    background-color: #1e1e1e;
    border: 1px solid #bb86fc;
    color: #ffffff;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #bb86fc;
    border: none;
    color: #121212;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #3700b3;
}

#hexValueDisplay {
    margin-top: 10px;
    font-size: 1.2em;
    color: #bb86fc;
}